.container-signinPC {
    width: 100%;
    margin: 44px auto;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.container-img-signinPC {
    position: relative;
}

.signin-box-PC {
    position: absolute;
    margin-left: 90px;
    margin-top: 60px;
}

.container-inputPC {
    display: flex;
    flex-direction: column;
}

.container-inputPC>input {
    margin: 0 80px 10px 0;
    border-radius: 12px;
    outline: royalblue;
    border: 1px solid #d2d2d7;
    padding: 18px 16px 16px 16px;
    height: 55px;
}

.btn-detail-siginPC {
    width: 85%;
    height: 55px;
    background-color: #0071E3;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0 80px 13px 0;
}

.title-siginPC>h2 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    /* font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif; */
    padding-bottom: 36px;
    padding-top: 34px;
}

.detail-siginPC {
    width: 500px;
}

.title-end-siginPC {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    /* font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif; */
    margin-top: 14px;
    margin-bottom: 35px;
    margin-right: 41px;
}


/* .container-img-signinPC {
    background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
} */

.message-error {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-errorDangki {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-errorDangki.off {
    display: none;
}

.message-errorDangki>i {
    font-size: 12px;
    color: #E30000;
}

.message-error.off {
    display: none;
}

.message-errorPass {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-errorPass.off {
    display: none;
}

.message-errorPassDangki {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-errorPassDangki.off {
    display: none;
}

.message-errorPassDangki>i {
    font-size: 12px;
    color: #E30000;
}

.message-errorPass>i {
    font-size: 12px;
    color: #E30000;
}

.message-error>i {
    font-size: 12px;
    color: #E30000;
}

.error {
    margin-left: 8px;
    font-size: 12px;
    color: #E30000;
}

.errorPass {
    margin-left: 8px;
    font-size: 12px;
    color: #E30000;
}

#checkinput:focus {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
    outline: none;
}

#checkinputPass:focus {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
    outline: none;
}

.forgot-idPC>a {
    text-decoration: none;
}

.creat-idPC {
    margin-top: 12px;
}

.creat-idPC>a {
    text-decoration: none;
}

.signin-box-PC.off {
    display: none;
}

.regis-box-PC.off {
    display: none;
}