
.BosBody{
    background-color: white
}

.bos86{
    background: url(/images/smart-secure-banner.png);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    height: 429px;
    margin-bottom: 40px;
    margin-top: 44px;
}
.inforBos{
    margin-left: 156px;
    margin-right: 156px;
    display: flex;
    justify-content: space-around;
}
.contentinforBos{
    width: 665px;
    height: auto;
}
.contentinforBos h1{
    font-size: 40px;
    color: black;
}
.contentinforBos p{
    color: black;
    font-size: 20px;
    margin-top: 25px;
    line-height: 35px;
}