.Store{
    width: 1260px;
    margin: auto;
}
.header-nav{
    /* position: fixed; */
}
.banderstore{
    background-image: url(/images/bannerstoree.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin-bottom: 85px;
    height: 553px;
    width: auto;
}
.bodyStore{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 155px;
}
.container-store{
    padding-top: 56px;
    padding-bottom: 98px;
}
.BphoneStore{
    font-size: 52px;
color: #000
}
.BphoneStore2{
    font-size: 36px;
    letter-spacing: -1px;
    color: #000;
    margin-top: -7px;
}
.BphoneStore3{
    font-size: 20px;
    padding-top: 15px;
    max-width: 484px;
    color: #000;
    line-height: 35px;
}

.headerinforStore{

font-size: 18px;
color: #000;
font-weight: 550;
}
.liststore{
    /* display: inline-block; */
    width: 30%;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}
.inforStore{
    margin-top: 86px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 9999;
}
.contentinforStore a{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}
.contentinforStore{
    font-family: 'Roboto', sans-serif;
    
}
.contentinforStore ul{
    padding: 0px;
    margin: 19px 0px 0px 19px;
}
.contentinforStore p{
    margin-top: 8px ;
    margin-bottom: 8px;
}
.fa-phone-alt{
    margin-right: 10px;
}
.fa-map-marker-alt{
    margin-right: 10px;
}

